@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Arima+Madurai:wght@200&family=Bebas+Neue&family=Corinthia:wght@400;700&family=M+PLUS+1+Code&family=Oswald:wght@300&family=Ramabhadra&family=Rubik+Mono+One&family=Shadows+Into+Light&family=Stint+Ultra+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Arima+Madurai:wght@200&family=Bebas+Neue&family=Cookie&family=Corinthia:wght@400;700&family=M+PLUS+1+Code&family=Oswald:wght@300&family=Parisienne&family=Ramabhadra&family=Rubik+Mono+One&family=Shadows+Into+Light&family=Stint+Ultra+Condensed&display=swap');


.containerPed {
position: relative;
width: 100%;
height: 89.6vh;
overflow-y: scroll;
padding-top: 2%;
background-size: cover;
background: url("https://img.freepik.com/fotos-premium/superficie-grunge-papel-marron-viejo-textura-color-cafe-liquido-abstracto_51524-10679.jpg?w=2000");

}



.buscador .inputBusc {
    width: 60%;

}

.buscador .bi {
    position: absolute;
    margin-right: 57%;
    margin-top: 0.6%;
}

.PedidosP {
    position: relative;
    padding: 2rem 2rem;
    flex-direction: column;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 0fr));
    box-sizing: border-box;
    justify-content: center;
    gap: 3rem;
    left: 1.5rem;
}

.imgn {
    width: 300px;
    height: 270px;
    object-fit: cover;
}

.cardss .back p {
    letter-spacing: 1px;
    text-align: left;
    padding-left: 11%;
    font-size: 78%;
    padding-block: 0.5%;
    font-weight: bold;
    
}

.botonEliminar {
    position: absolute;
    width: 20%;
    background-color: transparent;
    border: none;
   color: rgb(67, 64, 64);
    left: 80%;
    top: 150%;
    
}


.tituloAnd{
    text-align:center;  
    font-family: 'Bebas Neue';
    color: #40251b;
    font-size: 4rem;
    padding-top: 1.9%;
    
    
  }
  .tituloAnd::after, .tituloAnd::before{
       content: "";
       position: absolute;
       width: 430px;
       height: 5px;
       background-color: white;
       
       margin-top: 2%;
  }
  .tituloAnd::before{
       left: 180px;
  }
  .tituloAnd::after{
      right: 180px;
  }

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");

.body {
    font-family: "Montserrat", sans-serif;
}

.cardss {
    width: 295px;
    overflow: hidden;
    border-radius: 25px;
    border: 1px solid lavender;
    margin: 10px;
    box-shadow: 5px 5px 15px 5px rgba(230, 230, 250, 1);
   background-color: #f2f2f2;


}

.card__imageAnd {
    position: relative;
    height: 140px;
}

.card__imageAnd>img {
    max-width: 100%;
    border-bottom-right-radius: 30px;
    transform: rotate(10deg) translate(-15px, -55px);
    position: absolute;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.card__infoAnd {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
}
.card_repetir {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;

}
.card__infoAnd h3 {
    font-size: 18px;
    font-weight: 700;
}

.card__infoAnd p {
    font-size: 14px;
    font-weight: 600;
}

.rect2 {
    position: relative;
    bottom: 315px;
    right: 15px;
    width: 325px;
    height: 230px;
    border: 1px solid lavender;
    border-radius: 0 0px 80px 0;
    background-image: url();
    transform: rotate(10deg);
    object-fit: cover;
}

::-webkit-scrollbar {
    width: 20px;
    background-color: #c9c4c4;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
 }


