.containerPed{
    position: relative;
    width: 100%;
    height: 89.6vh;
    background-color: #CAD2C5;
    overflow-y: scroll;
   padding-top:2%
   
}
 .cards{
    position:relative; 
    width: 300px;
    height: 270px;
   display:grid;
   background-color: #84A98C;
   border-color: #fff;
   border-radius: 3%;
} 

.PedidosP{
    position:relative; 
    padding: 2rem 2rem ;
    flex-direction: column;
    width: 100%;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 0fr));
    /*grid-template-columns: repeat(auto-fit, minmax(13.5rem, 0fr));*/
    box-sizing: border-box;
    justify-content:center;
    gap: 3rem ;
    left: 1.5rem;
    
   
}

.cards .face{
    position: absolute;
    width: 300px; 
    height: 205px;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
.cards .front{
    transform:perspective(600px) rotateY(0deg);
    box-shadow: 0.5px 10px #3e6045;
}
.cards .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cards  .front h5{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
   line-height:45px;
   color:#fff
   background rgba(0, 0, 0, .4);
   text-align: center;
}

.cards .back{
transform: perspective(600px)rotateY(180deg);
background-color: #84A98C;
padding: 15px;
color: #f3f3f3;
display: flex;
flex-direction: column;
justify-content: space-between;
text-align: center;
box-shadow: 0 5px 10px #000;
}
.cards .link h5{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
   line-height:45px;
   color:#fff
   background rgba(0, 0, 0, .4);
   text-align: center;
   
}
.cards .back h5{
    font-size: 30px;
    margin-top:20px ;
    letter-spacing: 2px;
}
.cards .back p{
    letter-spacing: 1px;
    text-align:left;
    padding-top: 15%;
    padding-left: 9%;
}
.cards:hover .front{
transform: perspective(600px)rotateY(180deg);
}
.cards:hover .back{
    transform: perspective(600px)rotateY(360deg);
    } 

/* .card-Pedido > .card-letra {
    text-align: left;
}


.bg-sucessP{
    background-color: #84A98C;
    border-radius: 10%;
   
   
}


.card-tituloNombre{
    
    font-weight: bold;
}

.card-Pedido > .imagenOf {
    width: 100%;
    height: 150px;
}

.card-img-top{
    border-radius: 8px;
    
  
} */
