.containerL{
    position: relative;
    width: 100%;
    height: 89.6vh;
    background-color: #CAD2C5;
    overflow-y: scroll;
   padding-top:2%
    
   
}
.PedidosP{
    position:relative; 
    padding: 2rem 2rem ;
    flex-direction: column;
    width: 100%;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(13.2rem, 0fr));
    gap: 5rem ;
    box-sizing: border-box;
}


.card-Pedido > .card-letra {
    text-align: left;
}


.bg-sucessP{
    background-color: #84A98C;
    border-radius: 10%;
   
   
}


.card-tituloNombre{
    
    font-weight: bold;
}

