*{ 
    margin: 0%;
    padding: 0%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    background-color: gray;
    position: relative;
}
.elementos-form{
    min-width: 70%;
    min-height: 70%;
    padding: 30px ;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    background-color: azure;
    border-radius: 20px; 
    justify-content: center;   
}
.label{ 
    padding-top: .5%;
    padding-bottom: 0.3%;
    padding-left: 1.5%;
    display: flex;
    flex-direction: column;
    font-weight: bold;

}
.botonA{
    height: 30px;
    margin-left: 1.5%;
    max-width: 50%;
    min-width: 20%;
    text-align: left;
    padding-left: 0;
  
}
.botonR{
    height: 40px;
    margin-left: 1.5%;
    min-width: 10%;
    margin: 2% auto;
    background-color: gray;
    transition: .5s;
    cursor: pointer;
}
.botonR:hover{
    background-color: darkslategray;
    color: azure;
    transition: .5s;
}
.entrada{
    background-color: white;
    height: 30px ;
    margin-left: 1.5%; 
    margin-right: 3.5%;
    padding-left: 2%;
    width: 45vw;
    position: relative;
    left: -15px;
    
}
.drop{
    background-color: white;
    height: 30px ;
    margin-left: 1.5%;
    margin-right: 3.5%; 
    padding-left: 2%;
    width: 45vw;
    position: relative;
    left: -15px;
}
.mensaje{
    width: 20vw;
}
.validacion{
    margin-left: 2%;
    font-size: small;
    color: red;
}
.invisible{
    margin-left: 2%;
    font-size: small;
    display: none;
}
.modals{
    
    padding-top: .3vh;
    border: 0ch;
    position: absolute;
    background-color: darkslategray;
    min-width: 20vw;
    min-height: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 20px;
    color: white;
    
}
.botones{
    width: 100%;
    height: 15%;
    position: absolute;
    top: 86%;
}
.botones button{
    width: 50%;
    height: 100%;
    padding: .2vh;
    cursor: pointer;
}
.left{
    border-bottom-left-radius: 20px;
   
  
}
.right{
    border-bottom-right-radius: 20px;
}
.texto-confirmacion{
    width: 70%;
    text-align: center;
}
.transparent{
    display: none;
}
.modalSiNo{
    padding-top: .3vh;
    border: 0ch;
    position: absolute;
    background-color: darkslategray;
    min-width: 20vw;
    min-height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    color: white;
}
.icono{
    display: flex;
    width: 100%;
}
.fa-circle-check{
    height: 2vh;
    width: 12px;
    color: rgb(126, 197, 126);
}
.imagenes-label{
    position: relative;
    left: 15px;
    font-weight: bold;
}
.contenedor-input{
    height: 7vh;
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:bold;
    font-size: 2.5rem;
}