* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.contenedor-cabecera {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    border-bottom: 3px solid rgb(47, 62, 70);
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(47, 62, 70);
    height: 10vh;
}

.logo {

    height: 10vh;


}

.nombre {
    text-transform: initial !important;
    font-style: italic;
    font-family: cursive;
    font-size: 5vh !important;
}

.user {
    font-size: 3vh;
}
.navbar-nav{
    display: flex;
    flex-direction: row;
    width: 30vw;

}
ul li{
    width: 12vw;
    
}
.logoYNombre{
    display: flex;
    width: 60vw;
    justify-content: space-around;
    align-items: center;
}
