.todo{
    align-items: center;
    width: 80%;
    background-color: gray;
    position: relative;
    text-align: center;
}
.t{
    position: relative;
    text-align :center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 3rem;
    text-transform: lowercase;
   
}
.t::first-letter{
    text-transform: uppercase;
}

.desytip{
    position: absolute;
    align-items: center;
    text-align: center;
    position: relative;
    margin: 0rem auto;
    width: 65%;
    height: 100%;
    background-color: azure;
    border: solid black;
    
}

.encabezado{
     font-size: 2vw;
     margin-top: 3%;
}
.Parrafo{
     font-size: 1.3vw;
     margin-bottom: 1%;
     text-transform: lowercase;
}
.Parrafo::first-letter{
    text-transform: uppercase;
}

.imagen_1{
    width: 250px;
    height: 250px;
    display:block;
    max-width: 50% ;
    max-height: 50%;   
    margin: auto;
}
.b12{
    height: 35px;
    margin-left: 1.5%;
    min-width: 10%;
    margin-top: 2%;
    margin-bottom: 3%;
    background-color: gray;
    transition: .5s;
    cursor: pointer; 
}
.b12:hover{
    background-color: darkslategray;
    color: azure;
    transition: .5s;
}
.Informacion{
    height: 85%;

}