
/* Navbar*/

:root{
    --colorA: #DA8131;
    --colorB: #77281B;
    --colorC: #603725;
    --colorD: #374454;
    --colorE: #131A20;
    --colorF: rgb(176, 84, 32);

}


.bg-sucessN{
    background-color: var(--colorA);
    --bs-border-opacity: 3;
    border-color: var(--colorB);
}

.nav-pills .nav-link.active,
.show>.nav-pills .nav-link{
    background-color: var(--colorF); 
    color: white;
    white-space: nowrap;
}

.nav-pills .nav-link.active:hover,
.show>.nav-pills .nav-link:hover{
  color: rgb(185, 173, 173); 
}
.slick-list{
    color: white;
}
.nav-pills{
    width: 100px;
}

.navbar-nav .fs-3 {
    white-space: nowrap;
}

.navbar-collapse .navbar-nav {
    width: 100%;
}

/* Informacion*/
.contenedor{
    
    height: 100vh !important;
    width: 100% !important;
    
    
 }
 .img-fluid{
    height: 100vh !important;
    width: 100% !important;
 }
 
 .body{
    font-size: x-large;
     
   }
   .contenedor-2{
       width: 99%;
   }
   
   .color-titulo{
       color: #52796f;
}
 
/*slider inicio */
.sliderA{
    
    align-items: center;
    background-color: #84a99a00;
    width: 70%;
    position: absolute;
    color: rgb(9, 8, 8);
    margin-top: 19%;
    font-weight: bold;
    z-index: 1;
    
}
.sliderA .fs-1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(235, 235, 235);
}

   /*2do slider*/
   .containerB{
    background-color: #84a98c;
    padding: 50px;
    width: 70%;
    position: relative;
    
}

 /*Mensajes*/
.estadisticasM{
    width: 98%;
    margin-top: 50%;
}

/*Footer*/

.contenedor-footer{
    width: 99%;
    
}

.bg-sucess-2{
    background: #84a98c;
}
.MensajesLPage{
    color: #8b4815;
    font-style:italic;
    font-family: 'Times New Roman', Times, serif;
}
.MensajeLanding{
    color: #8b4815;
    font-style:italic;
    font-weight:bold;
}