@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Arima+Madurai:wght@200&family=Bebas+Neue&family=Corinthia:wght@400;700&family=M+PLUS+1+Code&family=Oswald:wght@300&family=Ramabhadra&family=Rubik+Mono+One&family=Shadows+Into+Light&family=Stint+Ultra+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Arima+Madurai:wght@200&family=Bebas+Neue&family=Cookie&family=Corinthia:wght@400;700&family=M+PLUS+1+Code&family=Oswald:wght@300&family=Parisienne&family=Ramabhadra&family=Rubik+Mono+One&family=Shadows+Into+Light&family=Stint+Ultra+Condensed&display=swap');
.container1{
  width: 100%;
  min-height: 89.5vh;
  background-color: #CAD2C5;
  align-items: center;
  background-size: cover;
  background: url("https://img.freepik.com/fotos-premium/superficie-grunge-papel-marron-viejo-textura-color-cafe-liquido-abstracto_51524-10679.jpg?w=2000");
  
}

.title15{
  text-align:center;  
  font-family: 'Bebas Neue';
  color: whitesmoke;
  font-size: 4rem;
  padding-top: 1.9%;
  
  
}
.title15::after, .title15::before{
     content: "";
     position: absolute;
     width:28%;
     height: 0.8%;
     background-color: white;
     margin-top: 2%;
}
.title15::before{
     left: 13%;
}
.title15::after{
    right: 13%;
}
.item{
  
  /* margin: 0px auto;
  flex-direction: column;
  top: 3%;
  width: 200vh;
  height: 80vh;
  display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(15rem, 0fr));
  gap: 1.5rem 12rem; */
  box-sizing: border-box;
  justify-content: space-around;
  align-content: center;
  border-image-slice: 1;
  width: 155vh;
  min-height: 50vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 0fr));
  gap: 2rem 5rem;
  margin-left: 11.5%;
  margin-top: 1%;
}

.pos1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-position: center;
  
}
.pos1:hover{
  transform: scale(1.2);
}
.cardMajo{  
position: relative;
width: 350px;
display: grid;
justify-content: center;
height: 220px;
border-radius: 10px;
text-align: center;
overflow: hidden;
transition: .5s;
box-shadow: #59382cb3 -5px -5px 20px 0px, rgba(0, 0, 0, 0.298) 0px 13px 20px 0px, #835747 8px -8px 10px 0px;

}
.card>img{
   width:22rem;
}
.nombre_titulo{
  position: absolute;
  margin-top: 25%;
  padding: 10px;
  font-size: 30px;
  font-family: 'Parisienne' ;
  font-weight: bolder;
  color: #40251b;
  background:rgba(255, 255, 255, 0.703);
  display: block;
  width: 100%;
  height: 30%;
}

@media(max-width: 1380px){
  .item{
    grid-template-columns: auto auto;
    width: 120vh;
  }
  
  .title15{
    text-align:center;  
    font-family: 'Bebas Neue';
    color: whitesmoke;
    font-size: 3rem;
    padding-top: 1.9%;
  }
  
  }

@media(max-width: 912px){

  .title15::after, .title15::before{
    content: "";
    position: absolute;
    width:25%;
    height: 0.5%;
    background-color: white;
    margin-top: 2.5%;
}
.title15{
  font-size: 3rem;
}

.item{
  grid-template-columns: auto auto;
  width: 50vh;
  min-height: 50vh;
}   

.cardMajo{
  margin-top: 10%;
  height: auto;
  width: 350px;
  
}
.card>img{
  height: 28rem;
}
.nombre_titulo{
  margin-top: 60%;
  height: 60px;
  font-size: 34px;
}



}

@media(max-width: 820px){
  .item{
    grid-template-columns: auto;
  }
  }

@media(max-width: 415px){
  
  .title15::after, .title15::before{
    content: "";
    position: absolute;
    width:22%;
    height: 0.5%;
    background-color: white;
    margin-top: 6%;
    }
    
    .title15::before{
      left: 5%;
    }
    .title15::after{
        right: 5%;
    }

  .item{
    grid-template-columns: auto;
    width: 35vh;
  }

  .cardMajo{        
    width: 300px;
  }
  .nombre_titulo{
    margin-top: 60%;
    height: 90px;
    font-size: 31px;
  }
  }


@media(max-width: 281px){

  .title15{
        margin-top: 10px;
  }

  .title15::after, .title15::before{
    content: "";
    position: absolute;
    width:12%;
    height: 0.9%;
    background-color: white;
    margin-top: 8%;
    }

  .item{
    grid-template-columns: auto;
    padding-left: 2px;
    
  }
  .nombre_titulo{
    font-size: 31px;
    height: 100px;
  }

  .card>img{
    width:15rem;
  }

  .cardMajo{        
    width: auto;
    
  }
}