@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Arima+Madurai:wght@200&family=Bebas+Neue&family=Corinthia:wght@400;700&family=M+PLUS+1+Code&family=Oswald:wght@300&family=Ramabhadra&family=Rubik+Mono+One&family=Shadows+Into+Light&family=Stint+Ultra+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Arima+Madurai:wght@200&family=Bebas+Neue&family=Cookie&family=Corinthia:wght@400;700&family=M+PLUS+1+Code&family=Oswald:wght@300&family=Parisienne&family=Ramabhadra&family=Rubik+Mono+One&family=Shadows+Into+Light&family=Stint+Ultra+Condensed&display=swap');
.container1{
  width: 100%;
  min-height: 89.5vh;
  background-color: #CAD2C5;
  align-items: center;
  background-size: cover;
  background: url("https://img.freepik.com/fotos-premium/superficie-grunge-papel-marron-viejo-textura-color-cafe-liquido-abstracto_51524-10679.jpg?w=2000");
  
}

.title15{
  text-align:center;  
  font-family: 'Bebas Neue';
  color: whitesmoke;
  font-size: 4rem;
  padding-top: 1.9%;
  
  
}
.title15::after, .title15::before{
     content: "";
     position: absolute;
     width: 430px;
     height: 5px;
     background-color: white;
     margin-top: 2%;
}
.title15::before{
     left: 180px;
}
.title15::after{
    right: 180px;
}
.item{
  
  /* margin: 0px auto;
  flex-direction: column;
  top: 3%;
  width: 200vh;
  height: 80vh;
  display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(15rem, 0fr));
  gap: 1.5rem 12rem; */
  box-sizing: border-box;
  justify-content: space-around;
  align-content: center;
  border-image-slice: 1;
  width: 155vh;
  min-height: 50vh;
  display: grid;
 grid-template-columns: repeat(auto-fit, minmax(18rem, 0fr));
  gap: 2rem 5rem;
  margin-left: 11.5%;
  margin-top: 1%;
  
}

.pos1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-position: center;
  
}
.pos1:hover{
  transform: scale(1.2);
}
.cardMajo{  
position: relative;
width: 350px;
display: grid;
justify-content: center;
height: 220px;
border-radius: 10px;
text-align: center;
overflow: hidden;
transition: .5s;
box-shadow: #59382cb3 -5px -5px 20px 0px, rgba(0, 0, 0, 0.298) 0px 13px 20px 0px, #835747 8px -8px 10px 0px;

}
.card>img{
   width:22rem;
}
.nombre_titulo{
  position: absolute;
  margin-top: 25%;
  padding: 10px;
  font-size: 30px;
  font-family: 'Parisienne' ;
  font-weight: bolder;
  color: #40251b;
  background:rgba(255, 255, 255, 0.703);
  display: block;
  width: 100%;
  height: 30%;
}


@media(max-width: 912px){
.item{
  grid-template-columns: auto auto;
  min-height: 50vh;
  
}   

.cardMajo{
  margin-top: 10%;
  height: auto;
  
}
.card>img{
  height: 28rem;
}
.nombre_titulo{
  margin-top: 60%;
  padding: 10px;
}

}

@media(max-width: 700px){
.item{
  grid-template-columns: auto;
}
}
@media(max-width: 280px){


  .container1{
    width: 100%;
  }

  .title15{
        margin-top: 50px;
  }

  .item{
    grid-template-columns: auto;
  }

  .card>img{
    width:16rem;
  }

  .cardMajo{        
    width: auto;
  }
}