.ofertas{
    position: relative; 
    padding: 1rem 2rem ;
    flex-direction: column;
    left: 2rem;
    top: 1rem;
    width: 98%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 0fr));
    gap: 3rem ;
    box-sizing: border-box;
    
    
}

.bg-sucess{
    background-color: #84A98C;
   
}

.card:hover{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transform: translateY(-3%);
}

.card-title{
    font-weight: bold;
}
