:root {
    --white: #fff;
    --black: #000;
    --darkgreen: #43a54dab;
    --darkyellow: #eb922a;
    --darkred: #9e1414;
    --litegreen: #62c08b;
    --dark: #242426;
    --gray: #5e6f77;
}

.container89 {
    max-width: 100%;
    height: 86.6vh;
}

.title {
    position: absolute;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 4em;
    color: #fff;
    margin-left: 40%;
}

.gt {

    color: var(--white);
    font-size: 1.6em;
}

/*STYLES FOR SHOP PAGE*/
/*LIST*/
a {
    text-decoration: none;
}

.default-hero-banner {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-image: url("https://i.ibb.co/DgRMWdv/default-bg.jpg");
    background-size: cover;
    background-attachment: fixed;

}

.nombreO {
    font-size: 5vh;
    text-transform: lowercase;
}

.nombreO::first-letter {
    text-transform: uppercase;
}

.default-hero-banner section {
    text-align: center;
    color: var(--white);
    font-size: 1.6em;
}

/*LIST SECTION*/
.list-section {
    width: 100%;
    height: 87%;
    display: flex;
    align-items: top;
    overflow-y: scroll;
    background-color: #CAD2C5;

}

.list-section .left-section,
.list-section .right-section {
    width: 100%;
    padding: 1em 1em;
}

.list-section .left-section {
    width: 30%;
}

.list-section .left-section .column-1,
.list-section .left-section .column-2 {
    width: 100%;
    margin: auto;
    padding: 1em;
    background-color: var(--darkgreen);
    margin-bottom: 10px;
    padding: 1em;
    border-radius: 0.625rem;
    position: sticky;
    top: -15%;
    z-index: 0;
}

.list-section .left-section .column-2 {
    top: 40%;
    z-index: 1;
}

.list-section .left-section .column-1 a,
.list-section .left-section .column-2 a {
    color: var(--black);
}

.list-section .left-section .column-1 a:not(:first-child),
.list-section .left-section .column-2 a:not(:first-child) {
    padding: 0.5em;
    border-bottom: 1px solid rgba(1, 1, 1, 0.1);
    display: block;
}

.list-section .left-section .column-1 a:hover,
.list-section .left-section .column-2 a:hover {
    color: var(--white);
}

.list-cards {
    width: 100%;
    display: flex;
    align-items: top;
    flex-wrap: wrap;

}

.list-cards .list-card {
    width: 45%;
    margin: 0.625em;
    border: 0.0625em solid rgba(1, 1, 1, 0.1);
    border-radius: 5px;
    overflow: hidden;
    padding: 0;
    background-color: var(--white);
    display: flex;
    align-items: top;
}

.list-cards .list-card:nth-child(1),
.list-cards .list-card:nth-child(2) {
    margin-top: 0;
}

.list-cards .list-card section {
    width: 100%;
    
    position: relative;
    overflow: hidden;
}

.list-cards .list-card {
    height: 18rem;
    padding: 0.5em 1em;
}

.seccion1 {
    width: 100%;
    height: auto;
}

.list-cards .list-card section img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.list-cards .list-card section p {
    line-height: 1.4em;
    font-size: 0.8125em;
}

.list-cards .list-card section .price {
    font-size: 1em;
}

.list-category {
    background-color: rgba(1, 1, 1, 0.7);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%;
    top: 0;
    padding: 1em 2em;
    transition: 0.5s;
}

.list-category p {
    color: var(--white);
}

.list-cards .list-card:hover .list-category {
    left: 0%;
}

.imgMajo {
    width: 200px;
    height: 100%;
}

.boton-pedido {
    transition: .5s;
    box-shadow: 2px 2px #70B475;
    border: 2px solid #70B475;
    color: #70B475;
    font-weight: bold;
    position: absolute;
    left: 11px;
    bottom: 10px;
}

.boton-pedido:hover {
    background-color: #70B475;
    color: aliceblue;
    transition: .5s;
    box-shadow: 0px 0px;
    border: 2px solid #70B475;

}
.contenedorHacerPedido{
    background-color: #9e1414;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.jeimi{
    position: relative;
}
@media (max-width:920px) {
    .list-section {
        display: block;
    }

    .list-section .left-section {
        width: 100%;
    }

    .list-section .left-section .column-1 a:not(:first-child),
    .list-section .left-section .column-2 a:not(:first-child) {
        padding: 0.5em 0em;
        border-bottom: 0px solid rgba(1, 1, 1, 0.1);
        display: inline-block;
    }

    .list-section .left-section .column-1 a:after,
    .list-section .left-section .column-2 a:after {
        content: "";
        font-family: "FontAwesome";
        display: inline-block;
        margin: 0 0.625em;
    }

    .nombreO {
        font-size: 2vh;
    }
}

@media (max-width:640px) {
    .list-cards .list-card {
        width: 100%;
        margin: 0.625em 0;
    }

}


@media(max-width:412px) {
    .nombreO {
        font-size: 3vh;
    }

}

@media(width:280px) {
    .default-hero-banner {
        padding: 4rem;
        padding-top: 15%;
    }

    .nombreO {
        font-size: 2vh;
    }

}

@import "compass/css3";


@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');


$white: #fff;
$grey: #ccc;
$dark_grey: #555;
$blue: #4f6fad;
$pink: #ee9cb4;

// Mixins

@mixin lato-book { font-family: 'Lato', sans-serif; font-weight: 300; }
@mixin lato-reg { font-family: 'Lato', sans-serif; font-weight: 400; }
@mixin lato-bold { font-family: 'Lato', sans-serif; font-weight: 700; }
@mixin btn($color) {
  background-color: $color;
  border-bottom-color: darken($color, 15%);
  &:hover {
      background-color: lighten($color, 5%);
    }
}

// Functions

@function pxtoem($target, $context){
  @return ($target/$context)+0em;
}

//

body {
  background-color: lighten($grey, 10%);
  font-size: 100%;
  @include lato-reg;
}
div, textarea, input {
  @include box-sizing(border-box); 
}  
.container {  
  max-width: 510px;
  min-width: 324px;
  margin: 50px auto 0px;
  background-color: $white;
  border: 1px solid lighten($grey, 1%); 
  border-bottom: 3px solid $grey;
}
.row {
  width: 100%;
  margin: 0 0 1em 0;
  padding: 0 2.5em;
  &.header {
    padding: 1.5em 2.5em;
    border-bottom: 1px solid $grey; 
    background: url(https://images2.imgbox.com/a5/2e/m3lRbCCA_o.jpg) left -80px;
    color: $white;
  }
  &.body {
    padding: .5em 2.5em 1em;
  }
}
.pull-right {
  float: right; 
}
h1 {
  @include lato-book;
  display: inline-block;
  font-weight: 100;
  font-size: pxtoem(45, 16);
  border-bottom: 1px solid hsla(100%, 100%, 100%, 0.3);
  margin: 0 0 0.1em 0;
  padding: 0 0 0.4em 0;
}
h3 {
  @include lato-reg;
  font-size: pxtoem(20, 16);
  margin: 1em 0 0.4em 0;
}
.btn {
  font-size: pxtoem(17, 16);
  display: inline-block;
  padding: 0.74em 1.5em;
  margin: 1.5em 0 0;
  color: $white;
  border-width: 0 0 0 0;
  border-bottom: 5px solid;
  text-transform: uppercase;
  @include btn(darken($grey, 10%));
  @include lato-book;
  &.btn-submit {
    @include btn($blue);
  }
}

form {
  max-width: 100%;
  display: block;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin: 0 0 0.25em 0; 
      clear: both;
      display: inline-block;
      width: 100%;
      &:last-child {
          margin: 0;    
        }
        p {
          margin: 0;
          padding: 0;
          float: left;
          &.right {
            float: right;
          }
        }     
        .divider {
          margin: 0.5em 0 0.5em 0;
          border: 0;
          height: 1px;
          width: 100%;
          display: block;
          background-color: $blue;
          background-image: linear-gradient(to right, $pink, $blue);
        }
        .req {
          color: $pink; 
        }
    }
  }
  label {
    display: block;
    margin: 0 0 0.5em 0;
    color: $blue;
    font-size: pxtoem(16, 16);
  }
  input {
    background-color: #62c08b;
    margin: 0 0 0.5em 0;
    border: 1px solid $grey;
    padding: 6px 10px;
    color: $dark_grey;
    font-size: pxtoem(16, 16);
  }
  textarea {
    border: 1px solid $grey;
    padding: 6px 10px;
    width: 100%;
    color: $dark_grey;
  }
  small {
    color: $blue;
    margin: 0 0 0 0.5em;
  }
}

@media only screen and (max-width:480px) {
  .pull-right {
    float: none; 
  }
  input {
    width: 100%; 
  }
  label {
    width: 100%;
    display: inline-block;
    float: left;
    clear: both;
  }
  li, p {
   width: 100%; 
  }
  input.btn {
   margin: 1.5em 0 0.5em; 
  }
  h1 {
   font-size: pxtoem(36, 16); 
  }
  h3 {
    font-size: pxtoem(18, 16)
  }
  li small {
   display: none; 
  }
}