*{ 
    margin: 0%;
    padding: 0%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.contenido{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    background-color: gray;
    position: relative;
    padding-top: 4%;
}

.ti{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:bold;
    font-size: 1rem;
    padding-bottom: 3%;
}
.fo{
    min-width: 70%;
    min-height: 70%;
    padding: 30px ;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    background-color: azure;
    border-radius: 20px; 

}
.la{
    padding-top: .5%;
    padding-bottom: 0.3%;
    padding-left: 1.5%;
    display: flex;
    font-weight: bold;
}
.in{
    background-color: white;
    height: 30px ;
    margin-left: 1.5%; 
    margin-right: 3.5%;
    margin-bottom: 6%;
    padding-left: 2%;
    width: 20vw;
    position: relative;
    left: 0px;
}
.buiz{
    position: relative;
    top: -20%;
    left: -15%;
}
.bu{

    height: 35px;
    width: 100px;
    min-width: 10%;
    background-color: gray;
    transition: .5s;
    cursor: pointer; 
}
.bu:hover{
    background-color: darkslategray;
    color: azure;
    transition: .5s;
}
.bode{
    position: relative;
    top: -31.7%;
    left: 10%;
}

.bo{

    height: 35px;
    width: 100px;
    min-width: 10%;
    background-color: gray;
    transition: .5s;
    cursor: pointer; 
}
.bo:hover{
    background-color: darkslategray;
    color: azure;
    transition: .5s;
}
.mod{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:center ; 
}
.titulo-1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:bold;
    font-size: 2.5rem;
}