@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=M+PLUS+1+Code&family=Oswald:wght@300&family=Ramabhadra&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Alex+Brush&family=Amatic+SC&family=Arima+Madurai:wght@200&family=Bad+Script&family=Bebas+Neue&family=Black+Han+Sans&family=Cookie&family=Corinthia:wght@400;700&family=Gruppo&family=M+PLUS+1+Code&family=Nanum+Gothic&family=Nunito:wght@200&family=Parisienne&family=Ramabhadra&family=Rubik+Mono+One&family=Secular+One&family=Shadows+Into+Light&family=Shrikhand&family=Signika+Negative:wght@300&family=Stint+Ultra+Condensed&family=Tangerine&display=swap');
.containerG{
    position: relative;
    width: 100%;
    height: 87.6vh;
    background: url("https://cdn.pixabay.com/photo/2014/03/04/19/34/paper-279677_640.jpg");
    overflow-y: scroll;
   
}
.titleL{
    margin-top: 2%;
    text-align:center;  
    color: #40251b;
    font-family: 'Ramabhadra';
    width: 35%;
    margin-left: 35%;
    font-size: 55px;
    top: 20rem;
    background-color: whitesmoke;
}
/** Start Section Body Part 1 **/

.fda_food_row
{
    /* flex-wrap: nowrap; */
    
    width: 87%;
    margin-left: 8%;
    /* display: grid; */
    grid-template-columns: repeat(auto-fit, minmax(20rem, 0fr));
    gap: 5rem 4rem;
}

.fda_food_row > .col-9
{
    max-width: 245px;
  
}


/* .fda_food_row > div:not(:first-child)
{
    margin-left: -15px;
} */

#fda_product_tile
{
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
}

#fda_product_tile span
{
    display: block;
}

.fda_food_row div.food_tile
{
    background-color: rgba(0,0,0,0.05);
    font-size: 11px;
    padding: 0 25px;
    border-radius: 25px; 
}

.fda_food_row .food_tile.active
{
    background-color: #a06e5c;   
    height: 60vh;
    width: 35vh;
    position: relative;  
}


.fda_food_row img
{
    position: relative;
    /* width: 100%;
    height: 40%; */
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10%;
    padding: 15px;
    background-color: rgba(0,0,0,0.05);
    box-shadow: inset 0 0 25px rgba(255,255,255,0.15),
                inset 0 4px 0 rgba(0,0,0,0.05),
                inset 0 -4px 0 rgba(0,0,0,0.05),
                inset 0 10px 10px rgba(0,0,0,0.09),
                0 1px 0px rgba(0,0,0,0.1),
                0 8px 7px rgba(0,0,0,0.15);
   
    margin-top: -60px;
    margin-bottom: 18px;  
}

div.food_tile.active img
{
    background-color: rgba(0, 0, 0, 0.401); 
}

.food_name
{
    font-size: 4vh;
    font-family: 'Nunito';

    color: whitesmoke;
    margin-bottom: 12px;
    text-transform: lowercase;
}
.food_name::first-letter{
    text-transform: uppercase;
}
.food_detail
{
    word-wrap: break-word;
    font-size: 14px;
    color: black;
    margin-bottom: 15px;   
}

#food_meta
{
    margin: 0;
    padding: 0;
}

.buscador .inputBusc{
    width: 60%;
} 

.buscador .bi{
    position: absolute;
    margin-right: 58%;
    margin-left: 0%;
    margin-top: 0.5%;
}



#food_meta li
{
    list-style: none;
    float: left;
    width: 50%;
    margin-bottom: 25px;
    font-size: 15px;
    color: whitesmoke;
}

#food_meta li span
{
    font-size: 14px;
    font-weight: 500;
    color: black;   
}

.btn-default
{
    
    bottom: 0px;
    padding: 12px 40px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.5px;
    background-color: transparent;
    color: #40251b;
    background-color:whitesmoke;
    font-weight: bold;
    
}

.btn-default:hover 
{
    border: 1px solid rgba(0,0,0,0.04);
    background-color:white;
    color: black;
    box-shadow: 0 5px 1px rgba(224,243,248);
}
.botonN{
    position: absolute;
    /* posicion vertical */
    bottom:10px;
    /* centrado horizontal */  
    width: 80%;
}
.listas{

    width: 100%;
    height: 15%;
}
@media (max-width:540px){
    
    .titleL{
        width: 70%;
        margin-left: 20%;
        font-size: 25px;
    }
    
}
@media (max-width:400px){
    
    .titleL{
        width: 70%;
        margin-left: 20%;
        font-size: 25px;
    }
    
}
@media (width:375px){
    .fda_food_row div.food_tile.active
    {
        height: 65vh;
        width: 35vh;
        position:relative;
    }
    .titleL{
        width: 70%;
        margin-left: 20%;
        font-size: 25px;
    }
    .fda_food_row
{
    margin-left: 15%;

}
   
}
@media (width:360px){
  
    .titleL{
        width: 60%;
        margin-left: 20%;
        font-size: 20px;
    }
 
}
@media (width:412px){
  
    .titleL{
        width: 70%;
        margin-left: 20%;
        font-size: 35px;
    }
 
}

@media (width:820px){
    .fda_food_row .food_tile.active
    {
        height: 40vh;
        width: 25vh;
    
    }
    .fda_food_row{
        grid-template-columns: repeat(auto-fit, minmax(20rem, 0fr));
        gap: 5rem 10rem;
    }
    .titleL{
        width: 70%;
        margin-left: 20%;
        font-size: 55px;
    }
   
}
@media (width:768px){
    .fda_food_row .food_tile.active
    {
        height: 45vh;
        width: 25vh;
    
    }
    .fda_food_row{
        grid-template-columns: repeat(auto-fit, minmax(20rem, 0fr));
        gap: 5rem 5rem;
    }
    .titleL{
        width: 70%;
        margin-left: 20%;
        font-size: 55px;
    }
   
}

@media (width:414px){
    .fda_food_row div.food_tile.active
    {
        height: 50vh;
        width: 35vh;
        position:relative;
    }
    .titleL{
        width: 70%;
        margin-left: 20%;
        font-size: 35px;
    }
}
@media (width:1024px){
    .fda_food_row div.food_tile.active
{
    height: 80vh;
    width: 35vh;
    position:relative;
}
.titleL{
    width: 60%;
    margin-left: 20%;
    font-size: 45px;
}
.fda_food_row
{
    margin-left: 15%;

}
 
}

@media (width:912px){
    .fda_food_row .food_tile.active
    {
        height: 35vh;
        width: 25vh;
    
    }
    .fda_food_row{
        grid-template-columns: repeat(auto-fit, minmax(20rem, 0fr));
        gap: 5rem 10rem;
    }
    .titleL{
        width: 70%;
        margin-left: 20%;
        font-size: 55px;
    }
   
}