
.contenedor-pedidos{
    
    background: linear-gradient( rgba(44, 43, 43, 0.7), rgba(67, 62, 62, 0.924)), url("https://img.freepik.com/foto-gratis/mesa-fondo_1404-8.jpg?w=1380&t=st=1670564090~exp=1670564690~hmac=a4c17e8cd901228228ea3ec1e930156b74c063b7650daf44dd8002fe695bc918") no-repeat center center / cover;
  
    width: 40vw;
    height: 60vh;
    padding: 2vh;
    border-radius: 20px;
    color: aliceblue;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    border: var(--naranja-oscuro) solid 7px;
}
#form-Pedido{
    display: flex;
    flex-direction: column;
    width: 28vw;
    margin-left: 2vw;
    margin-top: 4vh;
    
}
.agregador{
    display: flex;
    
}
.boton-controlar-pedido{
    border: 1px solid white;
    padding:0 10px 0 10px ;
    height: 1.9rem;
    cursor: pointer;
    font-weight: bold;
    border: var(--naranja-oscuro) 1px solid;

}

.boton-conf{
    padding: 0 2vw;
    margin-top: 2vh;
    transition: .5s;
    border: 2px solid var(--naranja-oscuro);
    font-weight: bold;
    background-color: var(--naranja-oscuro);
    color: #F4F4F4;
    border-radius: 6px;
    height: 3rem;
}
.boton-conf:hover{
    background-color:var(--naranja);
    border: 2px solid var(--naranja);
    color: aliceblue;
    transition: .5s;
}
.boton-controlar-pedido:hover{
    background-color: var(--naranja-oscuro);
    color: aliceblue;
    font-weight: bold;
}
.contenedor-agregar{
    margin-top: 2vh;

    display: flex;
    justify-content: space-between;
    width: 15vw;
    align-items: center;
}
.botones-pedido{
    margin-top: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Signika Negative';
}

.validar {
    font-size: small;

    color: red;
}

.contenedor-input-pedido{
    height: 12vh;
    text-align: start;

}

@media (max-width:500px){

    .contenedor-pedidos{
        width: 100vw;
        height: 100vh;
    }

    #form-Pedido{
        width: 80vw;
        margin-left: 1.3rem;
        margin-top: 5rem;
    }



    .contenedor-agregar{
      width: 16rem;
      
    }



}